.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

:root{
  background-color: rgb(36, 36, 36);
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}

main
{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.cta-button:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px #FFD700;
}

.cta-button{
  transition: transform 0.3s ease;
  margin-top: 4rem;
  height: 5rem;
  width: 20rem;
  font-size: 4rem;
}

