.Title {
  text-align: center;
}

.Title h1 {
  font-size: 4rem;
  color: var(--color2);
}

.Content {
  padding-top: 30px;
  text-align: center;
}

.bookNowButton {
  display: inline-block;
  margin: 50px;
  width: 400px;
  height: 100px;
  font-size: 2rem;
  background-color: var(--color2);
  color: var(--color1);
  border-radius: 10px;
  transition: 0.3s ease;
  text-decoration: none;
  border: 2px solid var(--color1);
  box-shadow: 5px 5px var(--color1);
}

.bookNowButton:hover {
  background-color: var(--color1);
  color: var(--color2);
  cursor: pointer;
  transform: scale(1.05);
}

.Testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Footer {
  text-align: center;
}

.Footer a {
  text-decoration: none;
  color: var(--color3);
}

.testimonialCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 200px;
  color: var(--color2);
  border-radius: 10px;
  text-align: center;
  border: 2px solid var(--color2);
  box-shadow: 5px 5px var(--color2);
}

.flexrow {
  display: flex;
  flex-direction: row;
  gap: 80px;
}