:root{
  --color1: #ffffff;
  --color2: #008aca;
  --color3: #F862C1;
  --color4: #000000;
  --color5: #1a1a1a;
  background-color: var(--color5);
  font-family: 'Arial Bold', sans-serif;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .flexrow {
    flex-direction: column;
  }
  .Title h1{
    font-size: 2.5rem;
  }
  .bookNowButton {
    scale: 0.8;
  }
}

p {
  font-size: 1.2rem;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
