:root{
  --color1: #ffffff;
  --color2: #008aca;
  --color3: #F862C1;
  --color4: #000000;
  --color5: #1a1a1a;
  background-color: var(--color5);
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .flexrow {
    width: 100%;
    overflow-x: scroll;
  }
  .Title h1{
    font-size: 2.5rem;
  }
  .bookNowButton {
    scale: 0.8;
  }
  .section2 h2 {
    scale: 0.7;
    width: 100%;
    margin-top: -30px;
  }
  .packageTitle {
    padding: 0;
  }
  .packageView {
    width: 90%;
  }
  .section1 h1 {
    scale: 0.9;
    width: 100%;
  }
  .section3 p {
    width: 80%;
  }
  .packageDescriptions {
    margin-bottom: 20px;
  }
  .carouselDiv {
    @keyframes scroll {
      100% {
        transform: translateX(-100%);
      }
    }
  }
}

@media (min-width: 769px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-33.333%);
    }
  }

  .animate-scroll {
    animation: scroll 25s linear infinite;
  }

  .animate-scroll:hover {
    animation-play-state: paused;
  }
}

@media (max-width: 769px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-333.333%);
    }
  }

  .animate-scroll {
    animation: scroll 25s linear infinite;
  }

  .animate-scroll:hover {
    animation-play-state: paused;
  }
}

p {
  font-size: 1.2rem;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

